<html>
<head>
  <title>
    ToDoApp
  </title>
  <link rel="stylesheet" type="text/css" href="../public/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../public/login.css">
</head>
<body>
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
              <li class="nav-item">
                <a class="nav-link" href="/todoapp/home">Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/todoapp/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/todoapp/login">Login <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <% include partials/login.ejs %>
        </div>

      </div>

      <footer class="footer">
        <p>&copy; ToDOApp</p>
      </footer>

    </div>
</body>
</html>
